<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791823543399-0d9kj677an33jfu0c0b3n2eqrlgi5h5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791823543399-0d9kj677an33jfu0c0b3n2eqrlgi5h5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBNfB4CrqVJIh8yK2l6qeRuwfdmPPM3M38</string>
	<key>GCM_SENDER_ID</key>
	<string>791823543399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BookThe11.Fig-C</string>
	<key>PROJECT_ID</key>
	<string>fig-c-53e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>fig-c-53e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791823543399:ios:06657308b3905dc21df8c2</string>
</dict>
</plist>